.container {
    position: relative;
    background-color: var(--hero-background-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    overflow: hidden;
    width: 100%;
    padding: var(--hero-container-padding);
    margin: var(--hero-container-margin) 0;
}

.backgroundImage {
    object-position: center;
    z-index: 0;
}

.heroWrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    border: var(--hero-border) solid var(--core-outline-secondary);
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: var(--hero-drop-shadow);
    background: var(--hero-image-background-color);
}

.heroImage {
    width: 100%;
    max-width: var(--hero-image-max-width);
    height: auto;
}
