h1.title {
	font-family: var(--font-family), sans-serif;
	font-weight: 500;
	font-size: 68px;
	line-height: 128.57%;
	text-decoration: none;
	letter-spacing: 0.2px;
	text-align: left;
	margin: 0;
	color: var(--core-text-primary);
	width: 100%;
	max-width: 600px;
}
