.wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 8px;
	flex-wrap: wrap;
	margin: 32px 0 0 0;
	padding: 0;
	width: 100%;
	max-width: 600px;
}
