:global([data-slice-theme-scope]) .subtitle {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xl);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
	text-align: left;
	color: var(--core-text-tertiary);
	margin: 0 0 var(--subtitle-margin-bottom) 0;
	padding: 0;
	width: 100%;
	max-width: var(--subtitle-max-width);
}

:global([data-slice-theme-scope]) .subtitle strong {
	color: var(--core-text-primary);
}