:global([data-slice-theme-scope]) .nomargin, :global([data-slice-theme-scope]) .margin {
	font-family: var(--font-family), sans-serif;
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-xl);
	line-height: 162.5%;
	text-decoration: none;
	letter-spacing: 0.1px;
	text-align: left;
	color: var(--core-text-tertiary);
	margin: 0 0 64px 0;
	padding: 0;
	width: 100%;
	max-width: 600px;
}

:global([data-slice-theme-scope]) .nomargin {
	margin: 0;
}

:global([data-slice-theme-scope]) .nomargin strong, :global([data-slice-theme-scope]) .margin strong {
	color: var(--core-text-primary);
}