.container {
    box-sizing: border-box;
	display: flex;
	flex-direction: var(--highlight-row);
    justify-content: flex-start;
    align-items: var(--highlight-align-items);
	gap: var(--highlight-gap);
    width: 100%;
    max-width: var(--highlight-max-width);
    padding: 0 64px;
    margin: 0 0 var(--highlight-margin-bottom) 0;
}

.imageContainer {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    height: var(--highlight-image-height);
    overflow: visible;
    margin: 0;
    padding:0;
}

.imageWrapper {
    position: relative;
    box-sizing: border-box;
    border: var(--highlight-border-size) solid var(--core-outline-secondary);
    background-color: var(--highlight-image-background);
    border-radius: var(--highlight-border-radius);
    overflow: hidden;
    margin: 0;
    padding: var(--highlight-padding);
}

.highlightImage {
    width: var(--highlight-image-width);
    height: var(--highlight-image-height);
}

.textContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: var(--highlight-max-text-width);
    max-width: var(--highlight-max-text-width);
    min-width: var(--highlight-max-text-width);
    gap: 0;
    padding-top: var(--highlight-padding-top);
}

.coverUpLeft {
    position: absolute;
    width: 4px;
    left:var(--cover-left);
    top:0;
    bottom: 0;
    background: white;
}

.coverUpTop {
    position: absolute;
    height: 4px;
    left:0;
    right:0;
    top: var(--cover-top);
    background: white;
}
