.wrapper {
	position: relative;
	container-type: inline-size;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
	min-height: min-content;
	margin: 0 0 32px 0;
	overflow: hidden;
}

.contentFrame {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	width: 100%;
	min-height: var(--frame-min-height);
	border-radius: 8px;
	border: 1px solid var(--core-outline-secondary);
	background: var(--core-surface-primary);
}

.frameReverse {
	flex-direction: row-reverse;
}

.coverUp {
	position: absolute;
	left: -1px;
	right: -1px;
	bottom: -5px;
	height: 50%;
	z-index: var(--elevation-float);
	background: var(--gradient-cover);
}

.block {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex: 1;
	min-height: var(--frame-min-height);
}

.blockImage {
	flex: 1;
}

@container (max-width: 580px) {
	.blockImage {
		flex: 0.5;
	}
}

.imageContent {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
	overflow: visible;
	padding: 32px 0 0 0;
	user-select: none;
	min-width: 100%;
	max-height: var(--frame-min-height);
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.imageReverse {
	justify-content: flex-end;
}

.image {
	border: 1px solid var(--core-outline-secondary);
	border-radius: var(--image-border-radius);
	box-shadow: var(--surface-shadow-soft);
	width: 140%;
	min-width: 140%;
	height: auto;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.textContent {
	position: relative;
	display: flex;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	padding: var(--padding-tops) var(--padding-sides) 64px var(--padding-sides);
	z-index: var(--elevation-describe);
	min-height: var(--frame-min-height);
	height: min-content;
}

.textContent h3 {
	margin: 0 0 0.5em 0;
	line-height: 1.2em;
}

.textContent p {
	margin: 0;
	color: var(--core-text-tertiary);
}

.pagerWrapper {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 16px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}
