.profile {
	border-radius: 100%;
	border: var(--profile-pic-border-size) solid var(--profile-pic-border-color);
	background-color: var(--profile-pic-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: var(--profile-pic-size);
	height: var(--profile-pic-size);
	overflow: hidden;
	padding-top: var(--profile-pic-padding-top);
}
