.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	gap: 8px;
}

.infoLabel {
	composes: body-s-regular from "../../utils/css-helpers/type.module.css";
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 01.2em;
	gap: 4px;
	&:before {
		content: "";
		display: inline-flex;
		width: 0.3em;
		height: 0.3em;
		border-radius: 100%;
		background: var(--core-text-disabled);
		margin-right: 4px;
		color: var(--core-text-disabled);
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
}
