.wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	overflow: hidden;
	padding: 0;
	margin: 0;
	gap: 8px;
	width: 100%;
}

.infoLabel {
	composes: body-s-regular from "../../utils/css-helpers/type.module.css";
	line-height: 1.2em;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	gap: 4px;
	&:before {
		content: "";
		display: inline-flex;
		width: 0.3em;
		height: 0.3em;
		border-radius: 100%;
		background: var(--core-text-disabled);
		margin-right: 4px;
		margin-bottom: 2px;
		color: var(--core-text-disabled);
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
}
